<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{gbname}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Mural de Recados" />
<meta name="keywords" content="mural recados imagens livro visitas mysql php software" />
<link rel="stylesheet" href="mural.css" type="text/css" />
<script type="text/javascript" src="scripts.js"></script>
</head>
<body bgcolor="{pagebgcolor}">
<p>&nbsp;</p>

<center>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5657489025436669";
/* Wespa Mural de Recados - 468x60 */
google_ad_slot = "7689038501";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</center>
<br>