<!-- não remover -->
<LOOP NAME="entry"> 
<table border="0" cellpadding="5" cellspacing="1" width="100%">
  <tr> 
    <td width="150" valign="top" bgcolor="{rowbgcolor}" class="text">{ip} {entrydate}</td>
    <td nowrap="nowrap" bgcolor="{rowbgcolor}">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="text"><span class="headline">{guestname}</span> 
      {from} <span class="headline">{country}</span> {lang_wrote}:</td>
          <td class="text" align="right"><a href="#top">{entryno}</a></td>
  </tr>
</table>
</td>
  </tr>
  <tr> 
    <td class="text" bgcolor="{rowbgcolor}" valign="top">{avatar}{email}{homepage}</td>
    <td class="text" bgcolor="{rowbgcolor}" valign="top">{guesttext}</td>
  </tr>
</table>
<br />
<!-- não remover -->
</LOOP NAME="entry">