<IF NAME="pageing">
	<table border="0" cellspacing="0" cellpadding="1" width="100%">
  		<tr> 
			<td class="text" width="50%">{stats} ({hits})</td>
    		<td class="text" align="right" width="50%">{pagenums}</td>
  		</tr>
	</table>
</IF NAME="pageing">
		</td>
	</tr> 
</table> 
		</td> 
	</tr> 
</table> 
<br />
<IF NAME="showquery">
<center>
  <span class="micro">{lang_pagegen} {time} {lang_secs} {lang_with} {queries} 
  {lang_query} {gzip}</span> 
</center>
</IF NAME="showquery">
{copyright} 
<p>&nbsp;</p>

<center>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5657489025436669";
/* Wespa Mural de Recados - 468x60 */
google_ad_slot = "7689038501";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</center>
<br>

</body>
</html>
